body{
    background-color: #ebebeb;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption{
    bottom: 180px;
}

#maincontainer{
    padding:5px 30px 5px 30px;
    margin-top:10px;
}


.grow {
    /*padding: 5px 5px 5px 5px;
    border-radius: 10px;*/
    height: 90%;
    /*margin: 5px 1% 5px 1%;*/
    float: left;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
  }
  .grow:hover {
    height: 100%;
  }

  .grande{
    margin-top:60px;
}

h5{
    font-size: 110%;
}

